<app-navbar></app-navbar>
<div class="container mt-5 ">
    <span class="border-top border-5 fs-1 border-primary ">Finished Projects</span>
  
    <div class="card-group">
      <div class="card">
        <img src="../../assets/3.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>A well-known quote, contained in a blockquote element.</p>
              <footer class="blockquote-footer">
                Nombre de votes totales : <cite title="Source Title">25 </cite>
              </footer>
            </blockquote>
          </div>
  
          <div class="text-end">
            <div class="card-body">
              <a href="#" class="btn btn-primary">see More ➜ </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/2.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This card has supporting text below as a natural lead-in to additional
            content.
          </p>
      
        </div>
        <div class="text-end">
          <div class="card-body">
            <a href="#" class="btn btn-primary">see More ➜ </a>
          </div>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/1.jpg" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in
            to additional content. This card has even longer content than the
            first to show that equal height action.
          </p>
  
        </div>
        <div class="text-end">
          <div class="card-body">
            <a href="#" class="btn btn-primary">see More ➜ </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
