<app-navbar></app-navbar>

<div class="container">
  <div class="d-flex justify-content-center mt-3">
    <div class="col-4">
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="   chercher un projet"
        />
      </div>
    </div>
    <div class="col-3">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">
          <img src="../../assets/icons/chercher.svg" /> search
        </button>
      </div>
    </div>
  </div>
<div *ngFor="let project of listAllProject">
  <div class="card mt-5">
    <div class="row">
      <div class="col-4">
        <img [src]=project.projectMedia  class="card-img-top p-3" />
      </div>
      <div class="col-5">
     
        <div class="card-body">
          <h5 class="card-title">{{project.projectName}}</h5>
         

          <div class="list-inline">
            <img class="list-inline-item" />
            <p class="card-text list-inline-item">
              {{project.projectDescription  }}
            </p>
          </div>

          <div class="list-inline">
            <!-- <img src="../../assets/icons/timer.svg" class="list-inline-item" /> -->
            <p class="card-text list-inline-item">
              <!-- <b>2</b> Jours <b>6</b> Heures <b>5 </b>minutes restants -->
               
            </p>
          </div>

          <!-- <div class="row">
              <div class="col-4"> -->
          <!-- <div class="card mt-5" style="width: 18rem"> -->
          <div class="d-grid gap-2 mt-2">
            <button
              class="btn btn-success"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
            Share on social networks            </button>

            <button
              class="btn btn-secondary"
              type="button"
              routerLinkActive="router-link-active"
              [routerLink]="['/project/', project._id]"
            >
make a vote            </button>
<!-- 
            <button
              class="btn btn-info"
              type="button"
              routerLinkActive="router-link-active"
            >
              Voir Details et Realisation
            </button> -->
          </div>
          <!-- </div> -->
          <!-- </div>
            </div> -->
        </div>
      </div>
      <div class="col-1"></div>
      <div class="col-2">
        <br />
        <br />
        <a [routerLink]="['/login']">
        <i class="fa-solid fa-4x fa-thumbs-up"></i> <br />
      </a>
        <br /><br /><br />
        <a  >

        <i class="fa-solid fa-4x fa-thumbs-down"></i></a>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Share on social networks        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-3">
            <img src="../../assets/logos/124021.png" alt="" width="80px" />
          </div>
          <div class="col-3">
            <img src="../../assets/logos/174857.png" alt="" width="80px" />
          </div>
          <div class="col-3">
            <img src="../../assets/logos/fb.png" alt="" width="80px" />
          </div>
          <div class="col-3">
            <img src="../../assets/logos/insta.jfif" alt="" width="80px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
