<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color:#253131;">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img
        src="../../assets/logo_f_2.png"
        class="d-inline-block align-text-top ms-5"
        width="150px"
      />

      <div class="ms-auto"></div>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLinkActive="router-link-active"
              [routerLink]="['/']"

              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="router-link-active"               [routerLink]="['/projects']"

              >Projects</a
            >
          </li>
          <li class="nav-item" >
            <a
              class="nav-link"
              [routerLink]="['/finished']"
              routerLinkActive="router-link-active"
              >finished projects</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
              ><button type="button" class="btn btn-primary btn-sm"               [routerLink]="['/login']"
              >
                <i class="fa-solid fa-user"></i>
              </button></a
            >
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
