<nav class="navbar navbar-expand-lg navbar-dark"  style="background-color:#253131;">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img
        src="../../assets/logo.png"
        class="d-inline-block align-text-top ms-5"
        width="150px"
      />

      <div class="ms-auto"></div>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              routerLinkActive="router-link-active"
              >Accueil</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="router-link-active"
              >Projets</a
            >
          </li>
          <li class="nav-item" *ngIf="isIn">
            <a
              class="nav-link"
              [routerLink]="['/myproject']"
              routerLinkActive="router-link-active"
              >Mes projets</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contactez-Nous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">A propos</a>
          </li>
          <li class="nav-item" *ngIf="!isIn">
            <!-- <a class="nav-link" [routerLink]="['/login/ ']"> -->
            <a class="nav-link">
              <button type="button" class="btn btn-primary btn-sm">
                se Connecter
              </button></a
            >
          </li>
          <li class="nav-item" *ngIf="isIn">
            <a class="nav-link" (click)="disconnect()"
              ><button type="button" class="btn btn-primary btn-sm">
                se Deconnecter
              </button></a
            >
          </li>
        </ul>
      </form>
    </div>
  </div>
</nav>
