/* You can add global styles to this file, and also import other style files */
:root{
    --primary-color : #D1A662;
    --primary-color-hover : hsl(37, 43%, 50%);
    --secondary-color : #253131;
    --secondary-color-hover : #131a1a;
    --bs-border-color: #D1A662;
    --bs-primary-rgb: #D1A662;
  }
  .border-primary  .border-top{
    border-color: var( --primary-color) !important;

  }
  .btn-primary{
    background-color: var( --primary-color);
    border: var( --primary-color);
    border-radius: 20px;
  }
  .btn-secondary{
    background-color: var( --secondary-color);
    border: var( --secondary-color);
    border-radius: 20px;
  }
  .btn-secondary:hover{
    background-color: var( --secondary-color-hover);
    border: var( --secondary-color-hover);

  }
  .btn-primary:hover  {
    background-color: var( --primary-color-hover);

  }
  .btn-primary::after {
    background-color: var( --primary-color-hover);

  }