.sabeer{
    font-size: 60px ; 
    color : #193863;
}
#demo {
background-color:var( --primary-color);
    }
.textedinar {
    font-size: 55px;
    color: white;
    font-weight: normal;

}
.subtitle{
    color: white;
    font-size: 18px;
}
.title2{
    color: #193863;
    font-size: 50px;
    font-weight: normal;
}
.title3{
    color: white;
    font-size: 40px!important;
    font-weight: normal;
}
.ti{
    font-size: 30px;

    font-weight: bold;
}
.subti{
    font-weight: 100;
    font-size: 25px;

}
.title3{
    color: white;
    font-size: 50px;
    font-weight: normal;
}
.blue{
    color: #193863;
    font-size: 25px;

}