<app-navbar></app-navbar>
<div class="container mb-5">
    <div class="row align-items-center">
      <div class="col-8">
        <i class="fa-light fa-lightbulb-on"></i>
        <p class="text-uppercase sabeer">
We build Together !           </p>
  
        <button
          type="button"
          class="ms-5 btn btn-secondary col-4"
          [routerLink]="['/myproject']"
        >
          <img src="../../assets/icons/idea.svg" /> see all project
        </button>
  
        <button
          type="button"
          class="ms-2 btn btn-primary col-4 mx-aut"
          [routerLink]="['/allproject']"
        >
          <img src="../../assets/icons/hand.svg" />
          Soutenir un projet
        </button>
      </div>
      <div class="col-4">
        <img src="../../assets/cover-home.png" width="600" />
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  <div style="height: 10px"></div>
  
  <div id="" >
<div style="background-color: #D1A662;">
  <div class="container">
  <h3 class="text-uppercase text-center title3 lh-base p-5 mt-5">
    We-vote is a  <b>Tunisian platform </b> dedicated to <b>implicate people </b> in decision making using solutions based on <b> smart contracts and blockchain network </b>,to ensure security and transparency
  </h3>
</div>
</div>
<!--   
    <div class="row">
      <div class="col-4">
        <img src="../../assets/e-Dinar Funding.png" class="img-fluid" alt="..." />
      </div>
      <div class="col-7">
        <h3 class="text-uppercase text-center textedinar">
          e-dINAR <b>funding</b>
        </h3>
        <p class="subtitle">
          E-dinnar Founding la première carte digitale dédiée pour le crow-
          founding proposée par la poste Tunisienne.
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-light">Voir plus →</button>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 70px"></div>
   -->
  <!--  stat  -->
  
  <div class="container">
    <!-- <h3 class="text-uppercase text-center title2">
      votre <b>rêve</b> est LE nôtre, votre don est une <b>nouvelle sourit </b>
    </h3> -->
    <div class="mt-3"></div>
  
    <div class="mt-5"></div>
    <div class="mt-3"></div>
  
    <div class="row">
      <div class="col-4">
        <div class="card mb-4" style="max-width: 540px; border: none">
          <div class="row g-0">
            <div class="col-md-3">
              <img width="80px" src="../../assets/homeicons/project.svg" alt="" />
            </div>
            <div class="col-md-8">
              <h4 class="ti"> +100 </h4>
              <h3 class="subti text-uppercase">projets</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4" style="max-width: 540px; border: none">
          <div class="row g-0">
            <div class="col-md-3">
              <img width="80px" src="../../assets/homeicons/love.svg" alt="" />
            </div>
            <div class="col-md-8">
              <h4 class="ti"> sharedDataInfo.sumContributions TND</h4>
              <h3 class="subti">Somme collectée</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card mb-4" style="max-width: 540px; border: none">
          <div class="row g-0">
            <div class="col-md-3">
              <img width="80px" src="../../assets/homeicons/money.svg" alt="" />
            </div>
            <div class="col-md-8">
              <h4 class="ti">sharedDataInfo.nbContibutions</h4>
              <h3 class="subti">Bailleurs de fond</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 70px"></div>
  <!--feed back-->
  <div class="container">
    
    
    <div class="row">
      <div class="col-6">
        <div
          class="card shadow p-3 mb-5 bg-body rounded"
          style="border: none; min-height: 280px"
        >
          <h5 class="card-title blue text-center fs-1">Vision</h5>
  
          <div class="card-body">
            <p class="card-text ms-5">
              WE-VOTE is platform participatery democracy apporch based on e-voting and e-govermance.
              <br>
              our goal is to establish trust between  citizens gaverment    
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div
          class="card shadow p-3 mb-5 bg-body rounded"
          style="border: none; min-height: 280px"
        >
          <h5 class="card-title blue text-center fs-1">Vision</h5>
  
          <div class="card-body">
            <p class="card-text ms-5">
              WE-VOTE is platform participatery democracy apporch based on e-voting and e-govermance.
              <br>
              our goal is to establish trust between  citizens gaverment    
            </p>
          </div>
        </div>
      </div>
      
   
   
    </div>
  </div>
  <app-test></app-test>
  <!-- <app-footer></app-footer> -->